/* styles.css */
html{
	height: 100%;
}
body{
	width: 100%;
	max-width: 1200px;
	margin: auto;
	font: noarmal italic small-caps 15px/150% Fantasy, Helvetica, sans-serif;
	padding: 2%;
}
h1{
    color: #0f8;
    font-variant: small-caps;
}
h2{
	color: #f37907;
	font-variant: small-caps;
}
figcaption{
	font-style: bold;
	font-variant: small-caps;
}
main{
	float: left;
	width: 60%;
	/* height: 80vh; */
	padding: 1%;
	margin: 1%;
}
aside{
	float: right;
	width: 30%;
	/* height: 80vh; */
	padding: 1%;
	margin: 1%;
}
footer{
	clear: both;
}
footer p{
	font-size: 0.9em;
    color: #df038e;
}
img{
	height: auto;
	max-width: 60%;
}
#type1{
	border: 5px solid orange;
	border-radius: 25px;
	padding: 10px;
	margin: 10px;
}
q{
	font-family: cursive;
    font-style: italic;
}
ul li{
	list-style-type: none;
	line-height: 160%;
}
li>a{
	text-decoration: none;
	color: #0f8;
}
aside a:hover {
    color: #006600;
}